<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet" >
    <title>Add Todo Page</title>
  </head>
<body>
<div class="container">
  <h1>Enter Todo Details</h1>
  <form method="post" th:object="${todo}">
    Description: <input type="text" th:field="*{description}" name="description" required="required"/>
      <input type="hidden" th:field="*{id}" name="id"/>
      <input type="hidden" th:field="*{done}" name="done"/>
    <input type="submit" class="btn btn-success"/>

  </form>

</div>
<script src="webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
<script src="webjars/jquery/3.6.4/jquery.min.js"></script>
</body>
</html>