<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: page_head"><title>Add Todo</title></head>
<body>
<div th:replace="common/navigation :: navbar"></div>

<div class="container">
  <h1>Enter Todo Details</h1>
  <form method="post" th:object="${todo}">
    Description: <input type="text" th:field="*{description}" name="description" required="required"/>
    <span class="alert alert-warning" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span><br>

   <label class="mt-3"> Target Date:
      <input type="text" th:field="*{targetDate}" name="targetDate" required="required"/>
  </label>
      <span class="alert alert-warning" th:if="${#fields.hasErrors('targetDate')}" th:errors="*{targetDate}"></span><br>

      <input type="hidden" th:field="*{id}" name="id"/>
      <input type="hidden" th:field="*{done}" name="done"/>
    <input type="submit" class="btn btn-success"/>

  </form>

</div>

<footer th:replace="common/footer :: page_footer"></footer>
<script src="webjars/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script>
    $('#targetDate').datepicker({
        format: 'yyyy-mm-dd'
    });
</script>
</body>
</html>